.box-body
  %ul.todo-list
    = render(@feeds) || alert('This board has no social feeds, yet.')
.box-footer
  .pull-right
    %span.page_entries_info= page_entries_info @feeds
    = paginate @feeds, params: {controller: 'feeds', action: 'index', board_id: @board.id}, remote: true
  .clearfix
  %br
  .text-center
    - providers = AuthenticationProvider.all
    %ul.list-inline
      - providers.each_with_index do |p, i|
        %li
          - if !p.needs_authentication? || current_user.is_connected_to?(p.name)
            = link_to new_board_feed_path(@board, authentication_provider_id: p.id), remote: true, class: "btn btn-block btn-social btn-#{p.name}" do
              %i.fa.fa-fw{class: "fa-#{p.name}"}
              Scan #{p.title}
          - else
            = link_to user_omniauth_authorize_path(:provider => p.name), class: "btn btn-block btn-social btn-danger" do
              %i.fa.fa-fw{class: "fa-#{p.name}"}
              Connect to #{p.title}
