.box-body
  %ul.todo-list
    = render(@feeds) || alert('No social feeds to show for this collection.')
.box-footer
  .pull-right
    %span.page_entries_info= page_entries_info @feeds
    = paginate @feeds, params: {controller: 'feeds', action: 'index', board_id: @board.id}, remote: true
  .clearfix.margin-bottom
  - providers = AuthenticationProvider.all
  .text-center
    .btn-group
      - providers.each_with_index do |p, i|
        - if !p.needs_authentication? || current_user.is_connected_to?(p.name)
          %span.hint--bottom{:'data-hint' => "Click to setup a new content feed from #{p.title} "}
            = link_to new_board_feed_path(@board, authentication_provider_id: p.id), remote: true, class: "btn btn-social-icon btn-#{p.name}" do
              %i.fa.fa-fw{class: "fa-#{p.name}"}
        - else
          %span.hint--bottom{:'data-hint' => "Click to link your #{p.title} account before setting up a new content feed"}
            = link_to user_omniauth_authorize_path(:provider => p.name), class: "btn btn-social-icon btn-#{p.name}" do
              %i.fa.fa-fw{class: "fa-#{p.name}"}
