.box-body
  %ul.list-inline.social-connections
    - AuthenticationProvider.all.each do |provider|
      %li{id: "#{provider.name}-info-box"}
        - if !provider.needs_authentication? || current_user.is_connected_to?(provider.name)
          = link_to new_board_feed_path(@board, authentication_provider_id: provider.id), remote: true, class: "small-box btn-#{provider.name}" do
            .inner
              %h3
                = @board.all_cards.by_provider(provider.name).count
              %p
                #{provider.title} cards
            .icon
              %i.ion{class: "ion-social-#{provider.name}"}
            .small-box-footer
              add contents
        - else
          = link_to omniauth_authorize_path(:user, provider.name), class: "small-box btn-#{provider.name}" do
            .inner
              %h3
                = @board.all_cards.by_provider(provider.name).count
              %p
                #{provider.title} cards
            .icon
              %i.ion{class: "ion-social-#{provider.name}"}
            .small-box-footer
              add contents
  %ul.todo-list
    = render(@feeds) || alert('No social feeds to show for this collection.')
.box-footer
  .pull-right
    %span.page_entries_info= page_entries_info @feeds
    = paginate @feeds, params: {controller: 'feeds', action: 'index', board_id: @board.id}, remote: true
