!!!
%html{:lang => "en", "ng-app" => "magnet"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title
    / Bootstrap
    %link{:href => "#{Figaro.env.web_host}/assets/timeline/application.css", :media => "all", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    :javascript
      //<![CDATA[
      window.gon={};
      gon.api_host="#{Figaro.env.api_host}";
      gon.user_token="#{current_user.authentication_token}";
      gon.board_id='#{@board.slug}';
      gon.template_url="#{Figaro.env.web_host}/tpl/timeline/template.html";
      //]]>
  %body.magnet-container{"data-stellar-background-ratio" => "0.5", "ng-controller" => "CardsCtrl"}
    .magnet-template{"ng-include" => "template_url | to_trusted_url"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "#{Figaro.env.web_host}/assets/timeline/application.js"}
