.register-box
  .register-logo
    %b>Mag
    NET
  / /.register-logo
  .register-box-body
    %p.login-box-msg Sign in to start your session
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.input :email, label: false, wrapper_html: {class: 'has-feedback'} do
        = f.input_field :email, placeholder: 'E-mail', class: 'form-control', autofocus: true
        %span.glyphicon.glyphicon-envelope.form-control-feedback
      = f.input :password, label: false, wrapper_html: {class: 'has-feedback'} do
        = f.input_field :password, placeholder: 'Password', class: 'form-control'
        %span.glyphicon.glyphicon-lock.form-control-feedback
      = f.input :password_confirmation, label: false, wrapper_html: {class: 'has-feedback'} do
        = f.input_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control'
        %span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-xs-12
          = f.button :submit, 'Sign up', class: 'btn-block'
  / /.register-box-body
  .box-footer= render 'devise/shared/links'
/ /.register-box
