= simple_form_for(@user, remote: true) do |f|
  .modal-body
    = f.error_notification

    = hidden_field_tag :page, params[:page]
    - if @user.new_record?
      = f.input :email
      .row
        .col-md-6= f.input :password
        .col-md-6= f.input :password_confirmation
    - else
      .row
        .col-md-6= f.input :admin, disabled: @user == current_user
        .col-md-6= f.input :notify_exceptions
      .row
        .col-md-6= f.input :max_feeds
        .col-md-6= f.input :expires_at, as: :date_picker, data: { showClear: true, showClose: true, showTodayButton: true }, disabled: @user == current_user
      = f.input :authentication_token, disabled: true
      .row
        .col-md-4= f.input :confirmed_at, disabled: true, as: :string
        .col-md-4= f.input :sign_in_count, disabled: true
        .col-md-4= f.input :failed_attempts, disabled: true
      .row
        .col-md-4= f.input :current_sign_in_at, disabled: true, as: :string
        .col-md-4= f.input :last_sign_in_at, disabled: true, as: :string
        .col-md-4= f.input :locked_at, disabled: true, as: :string
      - if @user.feeds.any?
        %table.table(style="max-height: 200px; overflow-y: auto; display: inline-block")
          %caption User's content feeds summary
          %th
            Collection
          %th
            Feed
          %th
            Cards
          - @user.feeds.each do |f|
            %tr
              %td= link_to f.board.name, board_path(f.board)
              %td= f.name
              %td= f.cards.count
  .modal-footer
    = f.button :submit
