.box.box-solid
  .box-header
    %h3.box-title
      Latest collections
  .box-body
    - if @boards.any?
      .row
        - @boards.each do |board|
          .col-sm-6.col-md-3
            .thumbnail
              .media-wrapper
                = link_to board_path(board) do
                  = image_tag board.banner_url || '1x1.png', class: 'img-responsive'
              .caption
                %h4
                  = board.name
                  %small (#{board.cards.count} cards)
                %p
                  %small Last update: #{time_ago_in_words(board.polled_at || board.created_at)} ago
                = link_to 'Manage', board_path(board), class: 'btn btn-block btn-default'
              .clearfix
    - else
      %p.lead.text-center
        No boards found
