%li.item.sortable-item{'data-item-id' => board.id}
  %span.handle.hint--right(data-hint="Drag this handle to change items ordering in the list")
    %i.fa.fa-ellipsis-v
    %i.fa.fa-ellipsis-v
  .product-img
    = link_to image_tag(board.icon_url || board.banner_url || '1x1.png'), board
  .product-info
    = link_to board, class: 'product-title' do
      %span.hint--top(data-hint="Manage this collection and its contents")= board.name
    - unless board.polling?
      = link_to edit_board_path(board, page: params[:page]), remote: true do
        %span.hint--left(data-hint="Let me change this collection's main options")
          %i.fa.fa-fw.fa-pencil.text-danger
      = link_to board_path(board, page: params[:page]), :method => :delete, :data => { :confirm => 'Are you sure?' }, remote: true do
        %span.hint--left(data-hint="Remove this collection and all its contents from the system")
          %i.fa.fa-fw.fa-trash-o.text-danger
    - unless board.enabled?
      %span.hint--right(data-hint="This collection is offline")
        %i.fa.fa-fw.fa-power-off.text-danger
    - unless board.pollable? && board.enabled? && Sidekiq::is_running?
      %span.hint--right(data-hint="Contents in this collection are not currently being updated")
        %i.fa.fa-fw.fa-ban.text-danger
    - if board.moderated?
      %span.hint--right(data-hint="Contents in this collection must be manually approved before going online")
        %i.fa.fa-fw.fa-filter.text-danger
    - if board.polling?
      %span.label.label-info.pull-right scanning
    - if board.label.present?
      %span.label.label-default.pull-right= board.label
    %span.product-description= board.description
