= simple_form_for(@board, remote: true) do |f|
  = f.error_notification

  = hidden_field_tag :in_place, params[:in_place]
  = hidden_field_tag :page, params[:page]
  = hidden_field_tag :section, params[:section]
  = f.simple_fields_for :options, f.object.options do |o|
    - if params[:section] == 'wall'
      .modal-body
        %ul.nav.nav-tabs(role="tablist")
          %li.active(role="presentation")
            %a(href="#wall-layout" data-toggle="tab") Wall layout options
          %li(role="presentation")
            %a(href="#wall-assets" data-toggle="tab") Wall layout custom assets
          %li(role="presentation")
            %a(href="#wall-presentation" data-toggle="tab") Wall presentation settings
        .tab-content
          #wall-layout.tab-pane.active(role="tabpanel")
            .panel
              .panel-body
                = o.input :wall_custom_stylesheet_url, as: :select, collection: customizable_collection_select(Board::WALL_STANDARD_THEMES, @board.options.wall_custom_stylesheet_url), required: false, input_html: {class: 'selectize'}
                .row
                  .col-md-3= o.input :wall_custom_background_color, required: false
                  .col-md-3= o.input :wall_custom_background_image_style, as: :select, collection: Board::WALL_BACKGROUND_STYLES.map { |s| [t(s), s] }, include_blank: 'select...', required: false
                  .col-sm-4
                    = o.input :wall_font_family, as: :select, collection: CUSTOM_FONT_FAMILIES.keys, include_blank: 'select...', required: false
                  .col-sm-2
                    = o.input :wall_font_size, as: :select, collection: Board::CUSTOM_FONT_SIZES, include_blank: 'select...', required: false
                .row
                  .col-md-3= o.input :wall_custom_margin_top, required: false
                  .col-md-3= o.input :wall_background_image_size, required: false
                  .col-md-3= o.input :wall_width, as: :integer, required: false
                  .col-md-3= o.input :wall_height, as: :integer, required: false
          #wall-assets.tab-pane(role="tabpanel")
            .panel
              .panel-body
                .row
                  .col-md-6= o.input :wall_custom_javascript_url, as: :url, required: false
                  .col-md-6= o.input :wall_custom_header_url, as: :url, required: false
                .row
                  .col-md-6= o.input :wall_custom_template_url, as: :url, required: false
                  .col-md-6= o.input :wall_custom_footer_url, as: :url, required: false
          #wall-presentation.tab-pane(role="tabpanel")
            .panel
              .panel-body
                .row
                  .col-md-3= o.input :wall_auto_slide, as: :select, collection: {'manual sliding' => 0, '5 seconds' => 5, '10 seconds' => 10, '15 seconds' => 15}, include_blank: 'select...', required: false
                  .col-md-3= o.input :wall_page_size, as: :select, collection: {'10 cards' => 10, '20 cards' => 20, '40 cards' => 40, '60 cards' => 60}, include_blank: 'select...', required: false
                  .col-md-3= o.input :wall_center, as: :boolean, required: false
      .modal-footer
        .pull-left
          Short URL for this layout:
          = link_to nil, short_url(slideshow_path(@board, action: :wall), @board), target: '_blank'
        = f.button :submit, 'Update Wall layout'
    - elsif params[:section] == 'timeline'
      .modal-body
        %ul.nav.nav-tabs(role="tablist")
          %li.active(role="presentation")
            %a(href="#timeline-layout" data-toggle="tab") Timeline layout options
          %li(role="presentation")
            %a(href="#timeline-assets" data-toggle="tab") Timeline layout custom assets
        .tab-content
          #timeline-layout.tab-pane.active(role="tabpanel")
            .panel
              .panel-body
                = o.input :timeline_custom_stylesheet_url, as: :select, collection: customizable_collection_select(Board::TIMELINE_STANDARD_THEMES, @board.options.timeline_custom_stylesheet_url), required: false, input_html: {class: 'selectize'}
                .row
                  .col-sm-3= o.input :timeline_custom_background_color, required: false
                  .col-sm-3= o.input :timeline_custom_background_image_style, as: :select, collection: Board::TIMELINE_BACKGROUND_STYLES.map { |s| [t(s), s] }, include_blank: 'select...', required: false
                  .col-sm-4= o.input :timeline_font_family, as: :select, collection: CUSTOM_FONT_FAMILIES.keys, include_blank: 'select...', required: false
                  .col-sm-2= o.input :timeline_font_size, as: :select, collection: Board::CUSTOM_FONT_SIZES, include_blank: 'select...', required: false
                .row
                  .col-sm-3= o.input :timeline_custom_margin_top, required: false
          #timeline-assets.tab-pane(role="tabpanel")
            .panel
              .panel-body
                .row
                  .col-md-6= o.input :timeline_custom_javascript_url, as: :url, required: false
                  .col-md-6= o.input :timeline_custom_header_url, as: :url, required: false
                .row
                  .col-md-6= o.input :timeline_custom_template_url, as: :url, required: false
                  .col-md-6= o.input :timeline_custom_footer_url, as: :url, required: false
      .modal-footer
        .pull-left
          Short URL for this layout:
          = link_to nil, short_url(slideshow_path(@board, action: :timeline), @board), target: '_blank'
        = f.button :submit, 'Update Timeline layout'
    - else
      .modal-body
        %ul.nav.nav-tabs(role="tablist")
          %li.active(role="presentation")
            %a(href="#deck-layout" data-toggle="tab") Deck layout options
          %li(role="presentation")
            %a(href="#deck-assets" data-toggle="tab") Deck layout custom assets
        .tab-content
          #deck-layout.tab-pane.active(role="tabpanel")
            .panel
              .panel-body
                = o.input :deck_custom_stylesheet_url, as: :select, collection: customizable_collection_select(Board::DECK_STANDARD_THEMES, @board.options.deck_custom_stylesheet_url), required: false, input_html: {class: 'selectize'}
                .row
                  .col-sm-3= o.input :deck_custom_background_color, required: false
                  .col-md-3= o.input :deck_custom_background_image_style, as: :select, collection: Board::TIMELINE_BACKGROUND_STYLES.map { |s| [t(s), s] }, include_blank: 'select...', required: false
                  .col-sm-4= o.input :deck_font_family, as: :select, collection: CUSTOM_FONT_FAMILIES.keys, include_blank: 'select...', required: false
                  .col-sm-2= o.input :deck_font_size, as: :select, collection: Board::CUSTOM_FONT_SIZES, include_blank: 'select...', required: false
                .row
                  .col-md-3= o.input :deck_custom_margin_top, required: false
                  .col-md-3= o.input :deck_columns_width, required: false
                  .col-md-6= o.input :deck_detect_mobile_devices, as: :boolean, required: false
          #deck-assets.tab-pane(role="tabpanel")
            .panel
              .panel-body
                .row
                  .col-md-6= o.input :deck_custom_javascript_url, as: :url, required: false
                  .col-md-6= o.input :deck_custom_header_url, as: :url, required: false
                .row
                  .col-md-6= o.input :deck_custom_template_url, as: :url, required: false
                  .col-md-6= o.input :deck_custom_footer_url, as: :url, required: false
      .modal-footer
        %h5.pull-left
          Short URL for this layout:
          = link_to nil, short_url(slideshow_path(@board, action: :deck), @board), target: '_blank'
        = f.button :submit, 'Update Deck layout'
