- unless @board.persisted?
  $('#new-board-form').html('#{ j render 'form' }');
  $('#new-board-form .selectize').selectize({create: true});
  $('#new-board-form .geocomplete').geocomplete({map: '#new-board-form .google-map', location: [#{@board.latitude}, #{@board.longitude}], details: '#new-board-form', detailsAttribute: 'data-geo'});
- else
  document.location.href = "#{board_path(@board)}";
  // $('#boards').html('#{j render 'boards_listing' }');
