- if @board
  - if params[:persist].present?
    document.location.href = '#{board_path(@board)}';
  - else
    - if params[:commit] != 'Refresh'
      :plain
        (function() {
          $(".disable-on-submit").attr("disabled", true);
          hashtag = '#{@hashtag}';
          var channel = dispatcher.subscribe('board-#{@board.id}');
          var cards_count = 0;
          channel.bind('card', function(card) {
            cards_count += 1;
            $.flash('<i class="fa fa-fw fa-refresh fa-spin"></i> Scanning in progress. There are ' + cards_count + ' new contents available. Please wait...', 'info');
          });
          channel.bind('polling-end', function(feed) {
            cards_count = 0;
            $('#flash_messages .alert').alert('close');
            $.post('#{hashtag_boards_path}', {'board[hashtag]': '#{j @hashtag}', transient: true, commit: 'Refresh'});
          });
        }).call(this);

    - if @cards.any? || params[:commit] == 'Refresh'
      $(".disable-on-submit").attr("disabled", false);
      - if @cards.any?
        $('#cards-listing').html('#{j render 'cards_listing'}');
        $.fn.rebindCardsListingPage();
