- if @board
  - if params[:persist].present?
    document.location.href = '#{board_path(@board)}';
  - else
    - if params[:commit] != 'Refresh'
      :plain
        (function() {
          $(".disable-on-submit").attr("disabled", true);
          hashtag = '#{@hashtag}';

          var cards_count = 0;
          ActionCable.createConsumer(#{Figaro.env.websocket_url.present? ? "'#{Figaro.env.websocket_url}'" : ''}).subscriptions.create({
            channel: "BoardsChannel",
            id: #{@board.id}
          }, {
            connected: function() {
              // Called when the subscription is ready for use on the server
            },

            disconnected: function() {
              // Called when the subscription has been terminated by the server
            },

            received: function(data) {
              // Called when there's incoming data on the websocket for this channel
              switch(data.msg) {
                case 'card':
                  cards_count += 1;
                  $.flash('<i class="fa fa-fw fa-refresh fa-spin"></i> Scanning in progress. There are ' + cards_count + ' new contents available. Please wait...', 'info');
                  break;
                case 'polling-end':
                  $('#flash_messages .alert').alert('close');
                  $.post('#{hashtag_boards_path}', {'board[hashtag]': '#{j @hashtag}', transient: true, commit: 'Refresh'});
                  cards_count = 0;
                  break;
              }
            }
          });
        }).call(this);

    - if @cards.any? || params[:commit] == 'Refresh'
      $(".disable-on-submit").attr("disabled", false);
      - if @cards.any?
        $('#cards-listing').html('#{j render 'cards_listing'}');
        $.fn.rebindCardsListingPage();
