.row.header.word-wrap
  .col-xs-2
    = image_tag card.profile_image_url, class: 'img-responsive img-rounded'
  .col-xs-8.user-data
    %p
      = link_to card.from, card.profile_url, target: '_blank'
      %br
      = l(card.created_at, format: :short)
  .col-xs-2
    .pull-right
      = link_to card.original_content_url, target: '_blank' do
        %i.fa.fa-2x{class: "fa-#{card.provider_name}"}
.row.card-content.word-wrap
  .col-xs-12
    = card_media_tag(card)
    - if card.content.present?
      %blockquote.caption
        %p
          = auto_link(card.content, html: { target: '_blank' } )
- if card.tags.try(:any?)
  .row
    .col-xs-12
      %ul.list-inline
        - card.tags.each do |tag|
          %li
            %span.label.label-default ##{tag}
