%li.sortable-item{'data-item-id' => campaign.id}
  %span.handle
    %i.fa.fa-ellipsis-v
    %i.fa.fa-ellipsis-v
  - unless campaign.enabled?
    %span.hint--right(data-hint="This campaign is offline")
      %i.fa.fa-fw.fa-power-off.text-info
  - unless campaign.displayable?
    %span.hint--right(data-hint="Ads in this campaign are not currently being displayed")
      %i.fa.fa-fw.fa-ban.text-info
  %span.text
    = link_to edit_campaign_path(campaign), remote: true do
      %span.hint--right(data-hint="Let me change this adv campaign's main options")
        = campaign.name
    - if campaign.enabled? && campaign.board
      %span.small
        \-
        displayed for #{campaign.threshold}% of impressions, in
        = link_to campaign.board.name, board_path(campaign.board)
  .tools
    = link_to edit_campaign_path(campaign), remote: true do
      %span.hint--left(data-hint="Let me change this adv campaign's main options")
        %i.fa.fa-pencil
    = link_to campaign, :method => :delete, :data => { :confirm => 'Are you sure?' }, remote: true do
      %span.hint--left(data-hint="Remove this campaign from the system")
        %i.fa.fa-trash-o
