%section.content-header
  %h1
    Content folders
    - if current_user.team
      %small as a member of #{current_user.team.name} team
  %p
    Organize content collections, by grouping them in folders.
  = render_crumbs

%section.content
  .box.box-primary
    .box-header
      %h3.box-title Folders listing
      .box-tools.pull-right
        .has-feedback
          = form_for :q, url: categories_path, remote: true, :method => :get do |f|
            = f.text_field :name_cont, class: 'form-control input-sm', placeholder: 'Search...'
            %span.fa.fa-search.form-control-feedback
    #categories
      = render 'categories_listing'

#new-category-dialog.modal.fade(tabindex="-1" role="dialog" aria-labelledby="New folder" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %button(type="button" class="close" data-dismiss="modal")
          %span(aria-hidden="true")
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          Add a new folder
      #new-category-form

#edit-category-dialog.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Manage this folder" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %button(type="button" class="close" data-dismiss="modal")
          %span(aria-hidden="true")
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          Manage this content folder
      #edit-category-form
